@page
@model SpeechAccessibility.Areas.Identity.Pages.Account.AphasiaPreRegisterModel
@{
}
<div class="largeFont">

    <h1 hidden>DS PreRegister</h1>
    <div asp-validation-summary="All" class="text-danger">
        <h2>Validation Errors:</h2>
    </div>
    <form method="post">
        <div class="form-row">
            <span style="color:red">*</span>
            <div class="form-group col-md-10">
                <div class="form-group">
                    <fieldset>
                        <legend>Are you a person with aphasia?<br /><span style="font-size:x-large">(If you are the caregiver, please select no.)</span></legend>

                        <label><input asp-for="Input.AphasiaInd" type="radio" value="Yes" /> Yes</label>

                        <label><input asp-for="Input.AphasiaInd" type="radio" value="No" /> No</label>
                    </fieldset>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
