@page
@model SpeechAccessibility.Areas.Identity.Pages.Account.InvalidDiagnosisModel
@{
}

<h1 hidden>Invalid Registration</h1>

<p>We will begin recruiting participants in the near future. Please sign up for our newsletter and we will let you know once recruiting begins.</p>
<a href="https://groups.webservices.illinois.edu/subscribe/170222">https://groups.webservices.illinois.edu/subscribe/170222</a>