@page
@model SpeechAccessibility.Areas.Identity.Pages.Account.PendingParticipantModel
@{
}

<h1>Registration Confirmation</h1>

<p>Thank you for registering!  At this time, we are not collecting recordings for the diagnosis you selected.  However, we will be in the near future. Someone from our team will contact you at the email or phone number you provided when we are ready to proceed.</p>