@page
@model SpeechAccessibility.Areas.Identity.Pages.Account.UnqualifiedModel
@{
    ViewData["Title"] = "Not Eligible";
}

@{
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Sorry, we can’t enroll you at this time.</h1>
                <p>Potential participants from some regions, age groups, and disease profiles are not currently able to enroll in our study. Thank you very much for your interest. We hope you will continue to learn more about our project by <a href="https://groups.webservices.illinois.edu/subscribe/170222">signing up for our email newsletter.</a></p>
            </div>
            </div>
                 <br />
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
        </div>

            }
