@page
@model SpeechAccessibility.Areas.Identity.Pages.Account.UnqualifiedModel
@{
    ViewData["Title"] = "Not Eligible";
}
<h1>@ViewData["Title"]</h1>

@{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                We’re sorry. It looks like you are not eligible to be in our study. Thank you
                    for your interest. Please stay in touch with us at <a href="https://speechaccessibilityproject.beckman.illinois.edu">https://speechaccessibilityproject.beckman.illinois.edu</a>
            </div>
            </div>
                 <br />
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
        </div>

            }
