@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Approval Required";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            @if (@ViewBag.Etiology == 1)
            {
                <h1>Thank you so much for your interest in participating in the Speech Accessibility Project. </h1>
                <p>We are working
                    closely with <a href="https://www.lsvtglobal.com/">LSVT Global</a> to help potential participants through the process of learning more about the
                    project. This will include determining eligibility and consenting to participate. Someone from LSVT
                    Global will contact you via the email address or phone number you provided. Should you have any
                    questions or concerns, please contact <a href="mailto:speechaccessibility@beckman.illinois.edu">speechaccessibility@beckman.illinois.edu.</a>
                </p>
            }
            else if (@ViewBag.Etiology == 2)
            {
                <h1>Thank you so much for your interest in participating in the Speech Accessibility Project.</h1>
                <p>If you are eligible for this study, a member of our team will contact you with next steps via the email address or phone number you provided. If you have any questions or concerns, please contact <a href="mailto:dsspeechaccess@illinois.edu">dsspeechaccess@illinois.edu.</a></p>
            }        
            else if (ViewBag.Etiology == 6)
            {
                 <h1>Thank you so much for your interest in participating in the Speech Accessibility Project. </h1>
                <p>We are working
                    closely with Team Gleason Foundation to help potential participants through the process of learning more about the
                    project. This will include determining eligibility and consenting to participate. Someone from Team Gleason Foundation
                    will contact you via the email address or phone number you provided. Should you have any
                    questions or concerns, please contact <a href="mailto:speechaccessibility@beckman.illinois.edu">speechaccessibility@beckman.illinois.edu.</a>
                </p>
            }
            else
            {

                    <h1>Thank you so much for your interest in participating in the Speech Accessibility Project.</h1>
                    <p>
                    When we're ready for your participation, a member of our team will contact you with next steps via the email address or phone number you provided. It may take several weeks. If you have questions, please contact <a href="mailto:speechaccessibilityproject@beckman.illinois.edu">speechaccessibilityproject@beckman.illinois.edu</a>
                    </p>
            }
        </div>
    </div>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>
