@model CompleteConfirmationModel
@{
    ViewData["Title"] = "Complete Confirmation";
}
<div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6">
            <br />
        <h1>Congratulations!</h1>
        <p>You have completed all of the prompts. Thank you for your participation.</p>
        @if (!Model.completedOptionalQuestions)
        {

            <p>
                You have the option of providing extra information to help researchers interpret your speech
                recordings. If you are willing to provide this additional information, please click the continue button below.
            </p>
            <form>
                <button class="btn btn-primary" asp-area="Identity" asp-page="/Account/OptionalQuestions">Continue</button>
            </form>
        }
    </div>
        </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/canvas-confetti/dist/confetti.browser.js"></script>
<script src="~/lib/canvas-confetti/dist/confetti.browser.min.js"></script>
<script>
    $(function () {
        confetti({
            particleCount: 150,
            spread: 150
        });
    });
</script>