@{
    ViewData["Title"] = "Home Page";
}

<div style="margin:auto" class="text-center">
    <h1>Welcome</h1>
</div>
<br />

    <div class="col-lg-10" style="margin:auto">
    @if (ViewBag.MaintenanceMessage != null)
    {
        <p id="maintenanceMessage" class="text-danger"><strong>@ViewBag.MaintenanceMessage</strong></p>
    }
        <p>The Speech Accessibility Project wants to make speech recognition software better for people with different types of speech and disabilities. Thanks for your interest in participating. We are looking for U.S. residents who are at least 18 years old. <strong>Unfortunately, we cannot recruit participants from Illinois, Texas, or Washington at this time because of their state privacy laws.</strong></p>
        <p>If you want to participate, answer our screening questions and sign up for an account <a href="./Identity/Account/Register">here</a>. A mentor will follow up with you to let you know if you qualify for our project. If you do, they’ll guide you through our informed consent process and help you get started.</p>
      <p>If you have already qualified and signed our consent documents, you can get back to recording by clicking on the “Record prompt” tab on the top left side of this page.</p>
      <p>If you have questions, please contact us at <a href="mailto:speechaccessibility@beckman.illinois.edu">speechaccessibility@beckman.illinois.edu</a>.</p>
    </div>


