@{
    ViewData["Title"] = "Home Page";
}

<div style="margin:auto" class="text-center">
    <h1>Welcome</h1>
</div>
<br />

    <div class="col-lg-10" style="margin:auto">
        <p>
            The Speech Accessibility Project seeks to make speech technology more
            useful for people with diverse speech patterns and disabilities.
            Thanks for your interest in participating.
        If you’d like to participate, you must <a asp-area="Identity" asp-page="/Account/Screening">sign up</a> for an account.
       </p>
            <p>If you have Parkinson’s (including PSP, CBD, MSA and post-DBS), we’ll have a mentor from <a href="https://www.lsvtglobal.com/">LSVT Global</a> contact you. That individual will evaluate your speech to see if you qualify for our project. If you do, they’ll guide you through our informed consent process and help you get started.</p>
            <p>If you don’t, you can record a few sentences to help our team evaluate your speech patterns and whether they fit the profile we’re currently seeking. After we've had a chance to listen to your speech, we’ll email and prompt you to complete our informed consent documents before continuing to record.</p>


    <p>Either way, it will take up to one week for us to let you know if you qualify.</p>

    <p>If you have already qualified and signed our consent documents, you can get back to recording by clicking <a asp-area="" asp-controller="Home" asp-action="RecordPrompt">“Record prompt.”</a></p>

    <p>If you need help, find instructions under the “Help” tab. If you have questions, please contact us at <a href="mailto:speechaccessibility@beckman.illinois.edu" class="text-break">speechaccessibility@beckman.illinois.edu</a>.</p>
    </div>


