@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<br />

    <div class="col-lg-10" style="margin:auto">
        <p>
            The Speech Accessibility Project seeks to make speech technology more
            useful for people with diverse speech patterns and disabilities.
            Thanks for your interest in participating.<br />
        If you’d like to participate, you must <a asp-area="Identity" asp-page="/Account/Screening">sign up</a> for an account. Then, you’ll have two options for getting started:
        <ul>
            <li>We’ll have a mentor from <a href="https://www.lsvtglobal.com/">LSVT Global</a> contact you. That individual will evaluate your speech to see if you qualify for our project. If you do, they’ll guide you through our informed consent process and help you get started. <strong>This is strongly recommended for all contributors with Parkinson’s (including PSP, CBD, MSA and post DBS) and allows for quicker approval.</strong></li>

            <li>Or, you can record a few sentences to help our team evaluate your speech patterns and whether they fit the profile we’re currently seeking. After we've had a chance to listen to your speech, we’ll email and prompt you to complete our informed consent documents before continuing to record.</li>
            </ul>
        <br />
        Either way, it will take up to 72 hours for us to let you know if you qualify.
        <br /><br />
        If you have already qualified and signed our consent documents, you can get back to recording by clicking <a asp-area="" asp-controller="Home" asp-action="RecordPrompt">“Record prompt.”</a>
           <br /><br />
        If you need help, find instructions under the “Help” tab. If you have questions, please contact us at <a href="mailto:speechaccessibility@beckman.illinois.edu">speechaccessibility@beckman.illinois.edu</a>.
        </p>
    </div>


