@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Error</h1>
<p>There is an error for getting the requested information. It could be a permission issue.</p>