@{
    ViewData["Title"] = "Waiting For Approval Speech Files";
}

@{
    ViewBag.Title = "Waiting For Approval Speech Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<h3>Waiting For Approval Speech Files</h3>
<label id="lblMessage" name="lblMessage" class="errorMessage"></label>
<div style="width: 1000px">
    <table class="table table-striped table-bordered table-hover" id="SpeechFileTable" cellspacing="0" align="center"></table>
</div>

<div id="approve-dialog" style="display: none">
    <label id="lblApproveMessage">Approve below Recording:</label><br />
    <input type="hidden" id="hidRecordingId" />
    <b>Prompt ID: </b><label id="lblPromptId" name="lblPromptId"></label>
    <br /><b>Transcript:</b><label id="lblTranscript" name="lblTranscript"></label>
    <br /><b>Contributor:</b><label id="lblContributor" name="lblContributor"></label>
</div>

<div id="exclude-dialog" style="display: none">
    <label id="lblExcludedMessage">Exclude below recording:</label><br/>
    <input type="hidden" id="hidExcludeRecordingId" />
    <b>Prompt ID: </b><label id="lblExcludePromptId" name="lblExcludePromptId"></label>
    <br /><b>Transcript:</b><label id="lblExcludeTranscript" name="lblExcludeTranscript"></label>
    <br /><b>Contributor:</b><label id="lblExcludeContributor" name="lblExcludeContributor"></label>
    <br /><textarea id="txtExcludeComment" name="txtExcludeComment" rows="4" cols="50"></textarea>
   
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //bind datatable for Prompts
            var oSpeechFileTable = $("#SpeechFileTable").on('error.dt',
                function(e, settings, techNote, message) {
                    alert('Error loading the data. It could be the timeout issue. Please try to reload your browser. ', message);
                }).DataTable({
                "serverSide": true,
                "processing": true,
                "responsive": true,
                "iDisplayLength": 100,
                "dom": "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>p", //'<"top"l>rift<"bottom"p><"clear">',
                "ajax": ({
                    "url": '@Url.Action("LoadNewRecordingForApprovalSpeechFiles", "SpeechFile")',
                    "type": "POST",
                    "datatype": "json"
                }),
                "bAutoWidth": false,
                "aaSorting": [[3, 'asc']],
                "columns": [
                    {
                        "title": "ID",
                        "data": "id",
                        "searchable": true,
                        "orderable": true,
                        "visible": false,
                        "name": "Id"
                    },
                    {
                        "title": "PromptId",
                        "data": "originalPromptId",
                        "searchable": true,
                        "orderable": true,
                        "visible": true,
                        "name": "OriginalPromptId"
                    },
                    {
                        "title": "Transcript",
                        "data": "modifiedTranscript",
                        "searchable": true,
                        "orderable": true,
                        "visible": true,
                        "name": "ModifiedTranscript"
                    },
                    {
                        "title": "Contributor FirstDescription",
                        "data": "contributor.firstDescription",
                        "searchable": true,
                        "orderable": true,
                        "visible": true,
                        "name": "Contributor.FirstDescription"
                    },
                    {
                        "title": "Contributor LastDescription",
                        "data": "contributor.lastDescription",
                        "searchable": true,
                        "orderable": true,
                        "visible": true,
                        "name": "Contributor.LastDescription"
                    },
                    {
                        "title": "Recorded Date",
                        "data": "createTS",
                        'render': function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                        }  ,
                        "searchable": true,
                        "orderable": true,
                        "visible": true,
                        "name": "CreateTS"
                    },
                    {
                        "title": "Status",
                        "data": "status.name",
                        "searchable": true,
                        "orderable": true,
                        "visible": true,
                        "name": "Status.Description"
                    },

                    {
                        "title": "Actions",
                        "data": "id",
                        //"targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "width": '200px',
                        "classDescription": 'dt-body-center',
                        "visible": true,
                        "name": "Id",
                        "render": function(data, type, row) {
                            //console.log(data);
                            var link = '<a href="#" class="listen" >Listen</a> | <a href="#" class="approve" >Approve</a> | <a href="#" class="exclude" >Exclude</a>';
                                return link;
                            return "";
                        }
                    }
                ],
                "ordering": true,
                "paging": true,
                "pageLength": 100,
                "lengthMenu": [[25, 50, 100, 3000], [25, 50, 100, 3000]]

            });

            //approve the recording
            $('#SpeechFileTable').on('click', 'a.approve', function (e) {
                e.preventDefault();
                var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                var row = selectedRowData.data();
                $("#hidRecordingId").val(row.id);
                $("#lblPromptId").text(row.originalPromptId);
                $("#lblTranscript").text(row.modifiedTranscript);
                $("#lblContributor").text(row.contributor.firstDescription + " " + row.contributor.lastDescription);
                approveRecording();
                $("#approve-dialog").dialog('open');
            });
            function approveRecording() {
                $("#approve-dialog").dialog({
                    title: "Approve Recording",
                    autoOpen: false,
                    resizable: false,
                    width: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },
                    open: function() {
                        $('#approve-dialog').css('overflow', 'hidden'); //hide the vertial bar on the dialog
                    },
                    close: function () {
                        $("#hidRecordingId").val("");
                        $("#lblPromptId").text("");
                        $("#lblTranscript").text("");
                        $("#lblContributor").text("");
                        $("#lblApproveMessage").text("Approve Recording for:");
                        $("#lblApproveMessage").removeClass("errorMessage");
                    },
                    buttons: {
                        "Approve": function() {
                            var recordingId = $("#hidRecordingId").val();

                            $.ajax({
                                url: '@Url.Action("ApproveExcludeRecording", "SpeechFile")',
                                type: "POST",
                                data: { "recordingId": recordingId, "comment": "", "action":"approve"},
                                success: function (response) {
                                    if (response.success === true) {
                                        $("#hidRecordingId").val("");
                                        $("#lblPromptId").text("");
                                        $("#lblTranscript").text("");
                                        $("#lblContributor").text("");
                                        $("#lblApproveMessage").text("Approve Recording for:");
                                        $("#lblApproveMessage").removeClass("errorMessage");
                                        $('#approve-dialog').dialog('close');
                                        $("#lblMessage").text(response.message);
                                        oSpeechFileTable.draw();
                                    } else {
                                        $("#lblApproveMessage").text(response.message);
                                        $("#lblApproveMessage").addClass("errorMessage");
                                    }
                                },
                                error: function() { alert('Error Approve Recording! It could be the timeout issue. Please try to reload your browser.'); }
                            });


                        },
                        close: function () {
                            $("#hidRecordingId").val("");
                            $("#lblPromptId").text("");
                            $("#lblTranscript").text("");
                            $("#lblContributor").text("");
                            $("#lblApproveMessage").text("Approve Recording for:");
                            $("#lblApproveMessage").removeClass("errorMessage");
                            $(this).dialog('close');
                        }
                    }

                });
            }

            //exclude the prompt
            $('#SpeechFileTable').on('click',
                'a.exclude',
                function(e) {
                    e.preventDefault();
                    var selectedRowData = oSpeechFileTable.row($(this).closest('tr'));
                    var row = selectedRowData.data();
                    $("#hidExcludeRecordingId").val(row.id);
                    $("#lblExcludePromptId").text(row.originalPromptId);
                    $("#lblExcludeTranscript").text(row.modifiedTranscript);
                    $("#lblExcludeContributor").text(row.contributor.firstDescription + " " + row.contributor.lastDescription);
                    excludeRecording();
                    $("#exclude-dialog").dialog('open');

                });
            function excludeRecording() {
                $("#exclude-dialog").dialog({
                    title: "Exclude Recording",
                    autoOpen: false,
                    resizable: false,
                    width: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    closeOnEscape: true,
                    position: { my: "left top", at: "left+50 top+100", of: window },
                    open: function() {
                        $('#approve-dialog').css('overflow', 'hidden'); //hide the vertial bar on the dialog
                    },
                    close: function () {
                        $("#hidExcludeRecordingId").val("");
                        $("#lblExcludePromptId").text("");
                        $("#lblExcludeTranscript").text("");
                        $("#lblExcludeContributor").text("");
                        $("#txtExcludeComment").text("");
                        $("#lblExcludedMessage").text("Exclude Recording for:");
                        $("#lblExcludedMessage").removeClass("errorMessage");
                    },
                    buttons: {
                        "Exclude": function() {
                            var recordingId = $("#hidExcludeRecordingId").val();
                            var excludeComment = $("#txtExcludeComment").val();
                            $.ajax({
                                url: '@Url.Action("ApproveExcludeRecording", "SpeechFile")',
                                type: "POST",
                                data: {
                                    "recordingId": recordingId, "comment": excludeComment, "action":"exclude"},
                                success: function (response) {
                                    if (response.success === true) {
                                        $("#hidExcludeRecordingId").val("");
                                        $("#lblExcludePromptId").text("");
                                        $("#lblExcludeTranscript").text("");
                                        $("#lblExcludeContributor").text("");
                                        $("#txtExcludeComment").text("");
                                        $("#lblExcludedMessage").text("Exclude Recording for:");
                                        $("#lblExcludedMessage").removeClass("errorMessage");
                                        $('#exclude-dialog').dialog('close');
                                        $("#lblMessage").text(response.message);
                                        oSpeechFileTable.draw();
                                    } else {
                                        $("#lblExcludedMessage").text(response.message);
                                        $("#lblExcludedMessage").addClass("errorMessage");
                                    }
                                },
                                error: function() { alert('Error Exclude Recording! It could be the timeout issue. Please try to reload your browser.'); }
                            });


                        },
                        close: function () {
                            $("#hidExcludeRecordingId").val("");
                            $("#lblExcludePromptId").text("");
                            $("#lblExcludeTranscript").text("");
                            $("#lblExcludeContributor").text("");
                            $("#txtExcludeComment").text("");
                            $("#lblExcludedMessage").text("Exclude Recording for:");
                            $("#lblExcludedMessage").removeClass("errorMessage");
                            $(this).dialog('close');
                        }
                    }

                });
            }


        });//End document ready

    </script>
}