@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br/>
<p>For testing: test3.wav</p>
@*<p>For testing: .wav</p>*@

<table style="border-collapse: collapse !important;border: none !important;">
    <tr>
        <td style="border: none !important;">
            <label>File Path</label>
        </td>
        <td style="border: none !important;">
            <input id="file" name="file" type="text" value="test3.wav">
            <input type="button" id="btnGetFileInfo" name="btnGetFileInfo" value="Get Info" class="btn btn-primary btn-sm" />
           
        </td>
    </tr>
</table>

<label id="lblMessage" name="lblMessage" class="errorMessage"></label>
<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
         


            //get file info
            $('input:button[name="btnGetFileInfo"]').click(function () {
                $('.spinner').css('display', 'block');
                $("#lblMessage").removeClass("alert-warning");
                $("#lblMessage").removeClass("alert-success");
                $("#lblMessage").text("");
                getFileInformation($("#file").val());
                //return false;
            });

           

           

            function getFileInformation(filePath) {
                $.ajax({
                    url: '@Url.Action("FileInformation", "Extension")',
                    type: "POST",
                    data: { "filePath": filePath },
                    success: function(response) {
                        $('.spinner').css('display', 'none');
                        $("#lblMessage").text(response.message);
                        
                    },
                    error: function() {
                        alert("Error: geting file information!");
                        $('.spinner').css('display', 'none');
                    }
                });
            }


        });

    </script>
}

