<h1>Report Page</h1>

<h4>Report page has 5 reports:</h4>

<ul>
    <li>View Annotator Assigned Contributors</li>
    <li>View Contributors Recording Progress</li>
    <li>View Daily Contributor Speech Files</li>
    <li>View Contributors Compensation</li>
    <li>View Contributors Compensation History</li>
</ul>

<h1>View Annotator Assigned Contributors</h1>

<p>This report allows user to get a list of Annotator Assigned Contributors.</p>
<p>The dropdown shows list of Annotators to select from and click 'View' button for fetching the Assigned Contributors Report</p>
<img src="/images/report-1.png" />

<h1>View Contributors Recording Progress</h1>

<p>This report allows user to view the recording progress of the Contributors.</p>
<p>The start date and end date input forms function in two ways</p>
<p>1) To get specific progress between two time frames give the desired start and end dates and click 'Submit' button</p>
<br />
<p>There is a search as well as sorting options to sort the results by creation date and contributor Id.</p>
<img src="/images/report-2.png" />

<h1>View Daily Contributor Speech Files</h1>

<p>This report allows user to view last 30 days birdseye view on number of new contributors joined and number of contributions from the contributors projected across each date from 30 days ago to current day.</p>
<p>Here's an example report from the 6.19.2023</p>
<p>There are no inputs required for this report.</p>
<img src="/images/report-3.png" />

<h1>View Contributors Compensation</h1>

<p>This report allows user to view the contributors qualified for first, second, and third compensations.</p>
<p>There is an option to export the list to an Comma Separated Values (CSV) file</p>
<p>There are no inputs required for this report. But the number of rows to be exported can be controlled through the selection and unselection of check boxes</p>
<img src="/images/report-4.png" />

<h1>View Contributors Compensation History</h1>

<p>This report allows user to view the history of compensations offered to the contributors. THe report has the Name of the contributor and the date they were given first, second, and third compensations.</p>
<p>There are no inputs required for this report. There is a search as well as sorting options to sort the report.</p>
<img src="/images/report-5.png" />